/**
 * Color Variables
 */


 $primary: #123a88;
 $backgroundblue: #3c87ff;
 $danger: #ff0000;
 $secondary: #ffb00e;
//  $light: #FCFCFC;
//  $mute: #999898;
//  $border: #ffaf21;
//  $primarytext: #002234;
//  $white: #ffffff;
//  $footerprimary: #002234;
//  $bordermute:#bcbdbe;
//  $cardprimary:#F4FBFF;
//  $borderprimary :#005dbc;
//  $footerborder:#999898;
//  $navfont: #ffffff;
//  $textcolor: #717171;
//  $cardborderprimary :#3986D5;
//  $tableprimary :#effaff;
//  $tablebadgeprimary :#f5f5f5;
//  $dark:#0000;
//  $textgray:#777777;


$theme-colors: (
  "primary": $primary,
  "backgroundblue": $backgroundblue,
  "danger": $danger,
  "secondary": $secondary,
  // "light": $light,
  // "mute": $mute,
  // "border": $border, 
  // "primarytext": $primarytext, 
  // "white": $white, 
  // "footerprimary": $footerprimary,
  // "bordermute": $bordermute,  
  // "cardprimary": $cardprimary,
  // "borderprimary": $borderprimary, 
  // "footerborder": $footerborder, 
  // "navfont": $navfont,
  // "cardborderprimary": $cardborderprimary,
  // "tableprimary": $tableprimary,  
  // "tablebadgeprimary": $tablebadgeprimary,  
  // "dark":$dark,
  // "textgray":$textgray

  
);
